# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
# or the one produced by the the built-in coverage tool
*.out

.vscode/
.idea/
.env
.envrc

# vendored dependencies and binaries
vendor/